

* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

section {
    height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

header {
    height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.w-100 {
    width: 100%;
}

.position-fixed {
    position: fixed;
}

.position-sticky {
    position: sticky;
}

.top-0 {
    top: 0;
}

.bg-img-herosection {
    background-image: url(/assets/images/png/herosection.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.justify-content-space-between{
    justify-content: space-between;
}